
<style>

	#editmenu {
		background-color:grey;
		border-radius: 15px;
		padding:15px;
		z-index:999;
		position:fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

</style>


<body>

	<p class="name" id="name"></p>
	<p class="friends" id="friends">You and this user are not friends.</p>

	<div class="imageholder" style="background-color:black;"></div>



	<div class="editmenu" style="display:none" id="editmenu">
		
		<form id = "desc" action="http://localhost:8080/edit" method="POST">
			desc: <input type="text" name="newdesc"><br>
 			<button type="submit">change desc</button>
		</form>
		<form id = "del" action="http://localhost:8080/delete-post" method="POST">
 			<button type="submit">delete post</button>
		</form>

	</div>



<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

</body>


<script type="text/javascript">

	const files=<%-JSON.stringify(files)%>;
	const dir=<%-JSON.stringify(dir)%>;
	const uid=<%-JSON.stringify(uid)%>;
	const meta=<%-JSON.stringify(meta)%>;
	const friend=<%-JSON.stringify(friend)%>;
	const user=<%-JSON.stringify(user)%>;
	let friendstatus=<%-JSON.stringify(friendstatus)%>;

	if(friendstatus){
		document.getElementById("friends").textContent="You and this user are friends";
	}



	document.getElementById("name").textContent=user;

	let img=document.createElement("img");
	img.src=String(dir+"/avatar.png");
	document.body.appendChild(img);

	if (uid==friend){

		let tip = document.createElement("p");
		tip.textContent = "edit avatar:";
		document.body.appendChild(tip);

		let edit = document.createElement("form");
		edit.action="http://localhost:8080/avatar";
		edit.method="POST"
		edit.enctype="multipart/form-data";

		let input = document.createElement("input")
		input.type = "file";
		input.name = "avatar";

		let submit = document.createElement("button")
		submit.type="submit";
		submit.textContent="upload";

		edit.appendChild(input);
		edit.appendChild(submit);
		document.body.appendChild(edit);
		document.body.appendChild(document.createElement("br"));
	} else {


		let tip = document.createElement("p");
		tip.textContent = "friend?";
		document.body.appendChild(tip);

		let edit = document.createElement("form");
		edit.action="http://localhost:8080/friend";
		edit.method="POST"
		edit.enctype="multipart/form-data";

		let input = document.createElement("input")
		input.type = "hidden";
		input.value=friend;
		input.name = "friend";

		let submit = document.createElement("button")
		submit.type="submit";
		submit.textContent="add friend";

		edit.appendChild(input);
		edit.appendChild(submit);
		document.body.appendChild(edit);
		document.body.appendChild(document.createElement("br"));

	}



	//function likepost(post){
	//	window.alert(`uid ${uid} liking post ${post}`);
	//	postdata("like", {uid:"uid",post:"post",friend:"friend"});

	//}

	function editpost(post){
		//window.alert(`editing post ${post}`);

		document.getElementById("editmenu").style.display="block";

		let helper = document.createElement("input")
		helper.type="hidden";
		helper.value=post;
		helper.name="post";

		document.getElementById("desc").appendChild(helper);


		delhelper = helper.cloneNode();
		document.getElementById("del").appendChild(delhelper);

	}




	for (x in files){
		
		let img=document.createElement("img");
		img.src=String(dir+"/"+files[x]);
		document.body.appendChild(img);


		//if (!((img.src).includes("avatar"))){
			let desc=document.createElement("p");
			desc.innerHTML=JSON.parse(meta[x]).likes.length+" likes<br>"  +  JSON.parse(meta[x]).desc;
			document.body.appendChild(desc);


			if (uid == friend){

				let edit=document.createElement("button");
				edit.textContent="edit";
				edit.id=files[x];
				edit.onclick=function(){editpost(this.id)};
				document.body.appendChild(edit);
				edit=null

			} else {


					let like=document.createElement("form");
					like.action="http://localhost:8080/like";
					like.method="POST";
					like.enctype="multipart/form-data";
					like.target="dummyframe"


					let sub=document.createElement("input");
					sub.type="submit";
					sub.value="like";
					sub.onclick=function(){location.reload();};


					let post=document.createElement("input");
					post.type="hidden";
					post.value=files[x].substring(0, files[x].length - 4);
					post.name="post";

					let friendid=document.createElement("input");
					friendid.type="hidden";
					friendid.value=friend;
					friendid.name="friend";



					like.appendChild(sub);
					like.appendChild(post);
					like.appendChild(friendid);
					document.body.appendChild(like);
				
				//like.textContent="like";
				//like.id=files[x];
				//like.onclick=function(){likepost(this.id)};
				//document.body.appendChild(like);
			}

			document.body.appendChild(document.createElement("br"));

		}
	//}



</script>
