<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="assets/style.css">


<body>
	<form style="display:none" id="hidform" action="http://localhost:8080/authhome" method="POST">
	</form>
	<div class="header" id="header"style="height:50px;position:fixed;">
		<img class="hoover" style="margin-top:0;height:50px;padding-left:0px;"src="assets/logo.png" onclick="document.getElementById('hidform').submit()">
	<p class="name" id="name"></p>
	<p class="friendsstatus" id="friends"></p>
		<img class="pfp" id="img">


	</div>
	<p class="spacer">.</p>


	<div class="imageholder" style="background-color:black;"></div>



	<div class="editmenu" style="display:none" id="editmenu">
		
		<form target="dummyframe" class="editform" style="background:transparent" id = "desc" action="http://localhost:8080/edit" method="POST">
			EDIT DESCRIPTION <textarea maxlength=256 onchange="newcol()" class="descenter" rows=3 cols=40 style="resize:none"name="newdesc"></textarea>
 			<button  onclick = "location.reload()" class="edeet" id="edeet" type="submit">save</button>
		</form>
		<form target="dummyframe" id = "del" action="http://localhost:8080/delete-post" method="POST">
 			<button  onclick = "location.reload()"class="postd"type="submit">delete post</button>
		</form>

	</div>



<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

</body>


<script type="text/javascript">

	const files=<%-JSON.stringify(files)%>;
	const dir=<%-JSON.stringify(dir)%>;
	const uid=<%-JSON.stringify(uid)%>;
	const meta=<%-JSON.stringify(meta)%>;
	const friend=<%-JSON.stringify(friend)%>;
	const user=<%-JSON.stringify(user)%>;
	let friendstatus=<%-JSON.stringify(friendstatus)%>;

	if(friendstatus){
		document.getElementById("friends").textContent="(friends)";
	}



	document.getElementById("name").textContent=user;


	function newcol(){
		document.getElementById("edeet").classList.add("an")
	}

	let img=document.getElementById("img");
	img.src=String(dir+"/avatar.png");

	if (img.width>img.height){
		img.width=100;
	} else {
		img.height=100;
	}

	if (uid==friend){
		/*
		let tip = document.createElement("p");
		tip.textContent = "EDIT AVATAR";
		document.body.appendChild(tip);

		let edit = document.createElement("form");
		edit.action="http://localhost:8080/avatar";
		edit.method="POST"
		edit.enctype="multipart/form-data";

		let input = document.createElement("input")
		input.type = "file";
		input.name = "avatar";

		let submit = document.createElement("button")
		submit.type="submit";
		submit.textContent="upload";

		edit.appendChild(input);
		edit.appendChild(submit);
		document.body.appendChild(edit);
		document.body.appendChild(document.createElement("br"));
		*/
	} else {



		let edit = document.createElement("form");
		edit.action="http://localhost:8080/friend";
		edit.method="POST"
		edit.enctype="multipart/form-data";
		edit.target="dummyframe";
		edit.onclick=function(){location.reload()};


		let input = document.createElement("input")
		input.type = "hidden";
		input.value=friend;
		input.name = "friend";
		

		let submit = document.createElement("button")
		submit.type="submit";
		submit.textContent="+";
		submit.classList.add("conflog");
		submit.classList.add("frien");


		edit.appendChild(input);
		edit.appendChild(submit);
		document.body.appendChild(edit);

	}



	//function likepost(post){
	//	window.alert(`uid ${uid} liking post ${post}`);
	//	postdata("like", {uid:"uid",post:"post",friend:"friend"});

	//}

	function editpost(post){
		//window.alert(`editing post ${post}`);

		document.getElementById("editmenu").style.display="block";

		let helper = document.createElement("input")
		helper.type="hidden";
		helper.value=post;
		helper.name="post";

		document.getElementById("desc").appendChild(helper);


		delhelper = helper.cloneNode();
		document.getElementById("del").appendChild(delhelper);

	}




	for (x in files){
		
		let img=document.createElement("img");
		img.onload = function () {
			if (image.width>image.height){
				image.width=400;
			} else {
				image.height=400;
			}
		}
		img.src=String(dir+"/"+files[x]);
		img.id=x;
		img.classList.add("post");
		document.body.appendChild(img);

		let image = document.getElementById(x);




			var div = document.createElement("div");
			div.classList.add("postholder");


		//if (!((img.src).includes("avatar"))){
			let desc=document.createElement("p");
			desc.innerHTML=JSON.parse(meta[x]).likes.length+" likes<br>"  +  JSON.parse(meta[x]).desc;

			div.appendChild(img);
			

		


			if (uid == friend){

				let edit=document.createElement("button");
				edit.textContent="edit";
				edit.id=files[x];
				edit.onclick=function(){editpost(this.id)};
				edit.classList.add("posttool")

				//document.body.appendChild(edit);
			
				console.log(div)
				div.appendChild(edit);

			} else {


					let like=document.createElement("form");
					like.action="http://localhost:8080/like";
					like.method="POST";
					like.enctype="multipart/form-data";
					like.target="dummyframe"


					let sub=document.createElement("input");
					sub.type="submit";

					sub.value="♥";
					sub.classList.add("conflog");
					sub.classList.add("heart")
					sub.onclick=function(){location.reload();};


					let post=document.createElement("input");
					post.type="hidden";
					post.value=files[x].substring(0, files[x].length - 4);
					post.name="post";

					let friendid=document.createElement("input");
					friendid.type="hidden";
					friendid.value=friend;
					friendid.name="friend";



					like.appendChild(sub);
					like.appendChild(post);
					like.appendChild(friendid);
					//document.body.appendChild(like);
					div.appendChild(like);
				
				//like.textContent="like";
				//like.id=files[x];
				//like.onclick=function(){likepost(this.id)};
				//document.body.appendChild(like);
			}
			div.appendChild(desc);
			document.body.appendChild(div);

			document.body.appendChild(document.createElement("br"));

		}
	//}



</script>
