

<body>
	<div class="imageholder" style="background-color:black;"></div>
	<div class="editmenu" style="display:hidden" id="editmenu">
		
		<form action="http://localhost:8080/edit" method="POST">
			desc: <input type="text" name="desc"><br>
 			<button type="submit">change desc</button>
		</form>
		<form action="http://localhost:8080/delete-post" method="POST">
 			<button type="submit">delete post</button>
		</form>

	</div>
</body>


<script type="text/javascript">

	const files=<%-JSON.stringify(files)%>;
	const dir=<%-JSON.stringify(dir)%>;
	const uid=<%-JSON.stringify(uid)%>;
	const meta=<%-JSON.stringify(meta)%>;
	const friend=<%-JSON.stringify(friend)%>;



	//function likepost(post){
	//	window.alert(`uid ${uid} liking post ${post}`);
	//	postdata("like", {uid:"uid",post:"post",friend:"friend"});

	//}

	function editpost(post){
		window.alert(`editing post ${post}`);
		post("edit", {element: "osmium"});
	}




	for (x in files){

		let img=document.createElement("img");
		img.src=String(dir+"/"+files[x]);
		document.body.appendChild(img);



		let desc=document.createElement("p");
		desc.innerHTML=JSON.parse(meta[x]).likes.length+" likes<br>"  +  JSON.parse(meta[x]).desc;
		document.body.appendChild(desc);


		if (uid == friend){

			let edit=document.createElement("button");
			edit.textContent="edit";
			edit.id=files[x];
			edit.onclick=function(){editpost(this.id)};
			document.body.appendChild(edit);
			edit=null

		} else {

			let like=document.createElement("form");
			like.action="http://localhost:8080/like";
			like.method="POST";
			like.enctype="multipart/form-data";


			let sub=document.createElement("input");
			sub.type="submit";
			sub.textContent="like";


			let post=document.createElement("input");
			post.type="hidden";
			post.value=files[x].substring(0, files[x].length - 4);
			post.name="post";

			let friendid=document.createElement("input");
			friendid.type="hidden";
			friendid.value=friend;
			friendid.name="friend";



			like.appendChild(sub);
			like.appendChild(post);
			like.appendChild(friendid);
			document.body.appendChild(like);

			//like.textContent="like";
			//like.id=files[x];
			//like.onclick=function(){likepost(this.id)};
			//document.body.appendChild(like);
		}

		document.body.appendChild(document.createElement("br"));


	}



</script>
